{% extends "invApp/layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container-fluid custom-height d-flex justify-content-center align-items-center text-bg-dark">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <h1 class="text-center ">Welcome to Inventory App</h1>
                <h3 class="text-center">Manage your products efficiently and effectively</h3>
                <p class="text-center ">This is a simple inventory management system built using Django.</p>

                <p class="text-center">Add, Update, Read and Delete Products at your own comfort</p>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'product_list' %}" class="btn btn-light mt-3 me-2 custom-hover">View Products</a>
                    <a href="{% url 'product_create' %}" class="btn btn-outline-light mt-3 ms-3">Add Product</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}